/* tela grande */
@media(min-width: 768px){
	
.panel-default{
	margin: 0 10px;
}

.alert{
	margin: 0 10px;
	}
}

.navbar-brand{
	padding-top:12px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}

.container-fluid {
    padding-left: 15px;
    margin-bottom: 70px;
}