<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
			
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <img alt="AlgaWorks"
						src="/images/fsp.PNG" />
					</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			     
        			<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Titulo<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/titulos/novo">Cadastrar</a></li>
			            <li role="separator" class="divider"></li>
			            <li ><a href="/titulos?descricao=">Pesquisar</a></li>
			          </ul>
			        </li>
        			
        			<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departamento<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/departamentos/novo">Cadastrar</a></li>
			            <li role="separator" class="divider"></li>
			            <li ><a href="/departamentos?nomeDepartamento=">Pesquisar</a></li>
			          </ul>
			        </li>
			        
        			<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionario<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/funcionarios/novo">Cadastrar</a></li>
			            <li role="separator" class="divider"></li>
			            <li ><a href="/funcionarios?nomeFuncionario=">Pesquisar</a></li>
			          </ul>
			        </li>
			        
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Equipamento<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/equipamentos/novo">Cadastrar</a></li>
			            <li role="separator" class="divider"></li>
			            <li ><a href="/equipamentos?numeroDePatrimonio=">Pesquisar</a></li>
			          </ul>
			        </li>
			        
			         <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Impressoras<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/impressoras/novo">Cadastrar</a></li>
			            <li role="separator" class="divider"></li>
			            <li ><a href="/impressoras?descricao=">Pesquisar</a></li>
			          </ul>
			        </li>
			        
        		 </ul>
				</div>
				
			</div>
		</nav>
		
</html>