<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
	
	<head>
		<title>Pesquisa de Equipamentos</title>
	</head>
	
	<section layout:fragment="conteudo">
			<div layout:insert="MensagemGeral"></div>
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Pesquisa de Equipamentos</h1>
						<a class="btn btn-link aw-link-panel" href="/equipamentos/novo">Novo Equipamento</a>
					</div>
				</div>
				
				<div class="panel-body">
					<form method="get" class="form-horizontal" action="/equipamentos" th:object="${filtro}">
						<div class="form-group">
							<div class="col-sm-4">
								<div class="input-group">
									<input class="form-control" placeholder="Numero de patrimonio" 
										autofocus="autofocus" th:field="*{numeroDePatrimonio}"></input>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</form>
				
					<table class="table table-bordered table-striped">
						
						<thead>
							<tr>
								<th class="text-center ">#</th>
								<th> Departamento </th>
								<th class="text-center">Funcionario</th>
								<th class="text-center">Entidade</th>
								<th class="text-center">Patrimonio</th>
								<th class="text-center">Serie</th>
								<th class="text-center">Tipo do Equipamento</th>
								<th class="text-center">Marca</th>
								<th class="text-center">Modelo</th>
								<th class="text-center">Status</th>
								<th class="text-center">Observação</th>
								<th class="text-center"> Opções</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="equipamento : ${equipamentos}">
								<td class="text-center" th:text="${equipamento.codigo}"></td>
								<td th:text="${equipamento.departamento.nomeDepartamento}"></td>
								<td class="text-center" th:text="${equipamento.funcionario.nomeFuncionario}"></td>
								<td class="text-center" th:text="${equipamento.entidade.descricao}"></td>
								<td class="text-center" th:text="${equipamento.numeroDePatrimonio}"></td>
								<td class="text-center" th:text="${equipamento.numeroDeSerie}"></td>
								<td class="text-center" th:text="${equipamento.tipoEquipamento.descricao}"></td>
								<td class="text-center" th:text="${equipamento.marca}"></td>
								<td class="text-center" th:text="${equipamento.modelo}"></td>
								<td class="text-center" th:text="${equipamento.tipoStatus.descricao}"></td>
								<td class="text-center" th:text="${equipamento.observacao}"></td>
								<td class="text-center"> 
									<a class="btn btn-link btn-xs" th:href="@{/equipamentos/{codigo}(codigo=${equipamento.codigo})}"
										title="Editar" rel="tooltip" data-placement="top">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									
									<a class="btn btn-link btn-xs" th:href="@{/equipamentos/excluir/{codigo}(codigo=${equipamento.codigo})}"
										title="Excluir" rel="tooltip" data-placement="top">
		   								<span class="glyphicon glyphicon-remove"></span>
	   								</a>
								</td>
							</tr>
						</tbody>
						
					</table>
				</div>
				
			</div>
	</section>
	
</html>