<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
	
	<head>
		<title>Pesquisa de Funcionarios</title>
	</head>
	
	<section layout:fragment="conteudo">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Pesquisa de Funcionarios</h1>
						<a class="btn btn-link aw-link-panel" href="/funcionarios/novo">Novo funcionario</a>
					</div>
				</div>
				
				<div class="panel-body">
					<table class="table table-bordered table-striped">
					
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th> Funcionario </th>
								<th class="text-center col-md-2">E-mail</th>
								<th class="text-right col-md-2">Entidade</th>
								<th class="text-center col-md-2">Ramal</th>
								<th class="text-center col-md-2">Departamento</th>
								<th class="text-center col-md-1">Opções</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="funcionario : ${funcionarios}">
								<td class="text-center" th:text="${funcionario.codigo}"></td>
								<td th:text="${funcionario.nomeFuncionario}"></td>
								<td class="text-center" th:text="${funcionario.email}"></td>
								<td class="text-right" th:text="${funcionario.entidade.descricao}"></td>
								<td class="text-center" th:text="${funcionario.ramal}"></td>
								<td class="text-center" th:text="${funcionario.departamento.nomeDepartamento}"></td>
								<td class="text-center">
									<a class="btn btn-link btn-xs" th:href="@{/funcionarios/{codigo}(codigo=${funcionario.codigo})}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
								</td>
							</tr>
						</tbody>
					
					</table>
				</div>
				
			</div>
			
	</section>
	
</html>