<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
	
	<head>
		<title>Pesquisa de Impressoras</title>
	</head>
	
	<section layout:fragment="conteudo">
			<div layout:insert="MensagemGeral"></div>
			
			<div class="panel panel-default">
			
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title aw-titulo-panel">Pesquisa de Impressoras</h1>
						<a class="btn btn-link aw-link-panel" href="/impressoras/novo">Nova Impressora</a>
					</div>
				</div>
				
				<div class="panel-body">
					<form method="get" class="form-horizontal" action="/impressoras" th:object="${filtro}">
						<div class="form-group">
							<div class="col-sm-4">
								<div class="input-group">
									<input class="form-control" placeholder="Qual impressora você está procurando?" 
										autofocus="autofocus" th:field="*{descricao}"></input>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</form>
					
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
						
							<thead>
								<tr>
									<th class="text-center col-md-1">#</th>
									<th> Descrição </th>
									<th class="text-center col-md-2">Departamento</th>
									<th class="text-right col-md-2">IP</th>
									<th class="text-center col-md-2">Patrimonio</th>
									<th class="text-center col-md-2">Marca</th>
									<th class="text-center col-md-1">Cód. Maquina</th>
									<th class="text-center col-md-1">Opções</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="impressora : ${impressoras}">
									<td class="text-center" th:text="${impressora.codigo}"></td>
									<td th:text="${impressora.descricao}"></td>
									<td class="text-center" th:text="${impressora.departamento.nomeDepartamento}"></td>
									<td class="text-right" th:text="${impressora.ip}"></td>
									<td class="text-center" th:text="${impressora.patrimonio}"></td>
									<td class="text-center" th:text="${impressora.marca}"></td>
									<td class="text-center" th:text="${impressora.codigoMaquina}"></td>
									<td class="text-center">
										<a class="btn btn-link btn-xs" th:href="@{/impressoras/{codigo}(codigo=${impressora.codigo})}"
											title="Editar" rel="tooltip" data-placement="top">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
										
										<a class="btn btn-link btn-xs" th:href="@{/impressora/excluir/{codigo}(codigo=${impressora.codigo})}"
											title="Excluir" rel="tooltip" data-placement="top">
			   								<span class="glyphicon glyphicon-remove"></span>
		   								</a>
									</td>
								</tr>
							</tbody>
						
						</table>
					</div>
				</div>
				
			</div>
			
	</section>
	
</html>